/* Variables */

$font-text: 'Lato', sans-serif;
$font-spec: 'Bangers', cursive;
$font-header: 'Caveat', cursive;
$color-main: #fed330;
$color-one: #dfe4ea;
$color-two: #ced6e0;
$color-three: #2f3542;
$color-four: #fff;

/* Global */

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    margin: 0;
}
section {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.subtitle {
    font-style: italic;
}
/* Nav and header */
.first {
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/4491874/pexels-photo-4491874.jpeg?cs=srgb&dl=pexels-ivan-samkov-4491874.jpg&fm=jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-four;
}
nav {
    padding: 12px 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
nav span{
    display: inline-block;
    margin-right: 36px;
    font-family: $font-spec;
    font-size: 24px;
    color: $color-main;
}
nav li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
    text-align: center;
}
.splash {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header .btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-size: 300%;
    font-weight: bold;
    background-color: $color-main;
}
header .page-subtitle {
    font-size: 50px;
}
header .page-title {
    font-weight: bold;
    font-family: $font-header;
    font-style: italic;
    font-size: 40px;
}
/* Services */
.two {
    padding: 100px 0;
}
.two .container {
    text-align: center;
}
.two h2 {
    margin-bottom: -20px;
    font-weight: bold;
    font-size: 50px;
}
.two p {
    opacity: 0.7;
}
.two > p {
    opacity: 0.7;
    font-style: italic;
}
.two h3 {
    margin-bottom: -10px;
}
.two i {
    color: $color-main;
    border-radius: 50%;
    border: 2px solid $color-main;
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding-top: 13px;
}/* Our Portfolio */
.three {
    background-color: $color-one;
    padding: 100px 0;
}
.three .container {
    text-align: center;
}
.three h2 {
    margin-bottom: -20px;
    font-weight: bold;
    font-size: 50px;
}
.three p {
    opacity: 0.7;
    font-style: italic;
}
.three .card {
    border: 2px solid $color-one;
    border-radius: 5px;
    background-color: $color-four;
    max-height: 300px;
    max-width: 200px;
}
.three h3 {
    margin-bottom: -20px;
}
.pic{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Footer */
.four {
    padding: 48px 0;   
    text-align: center;
    background-color: $color-two;
}
section > footer > ul > li > p {
    text-align: left;
    font-size: 16px;
}
section footer ul {
    position: relative;   
}
section footer li {
    display: inline-block;
    font-size: 0;   
    padding-right: 20px;
}
section footer i {
    font-size: 20px;
    background: $color-three;
    width: 50px;
    height: 50px;
    line-height: 0;
    color: $color-four;
    border-radius: 50%;
    padding-top: 13px;
}